body {
    background-color: rgb(224, 13, 13);
    color: black;
}

.footer{
 background-color:#343a40!important;
 position: absolute;
 bottom: 0; 
 width: 100%;
 text-align: center;
}
.Inicio{
    text-align: center;
}

.container {
    
    margin-top: 5%;
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.col--sm-9 {
    background-color: white;
}

.fin  {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    height: 70px;
}