body {
    background-color: rgb(187, 26, 26);
    color: black;
}

.footer{
 background-color:#343a40!important;
 position: absolute;
 bottom: 0; 
 width: 100%;
 text-align: center;
}
.Inicio{
    text-align: center;
}

.container {
    
    margin-top: 5%;
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.boton {
    color: white;
    background-color: red;
    border-radius: 10%;
}

.notas {
    color: white;
    background-color: rgb(20, 204, 20);
    border-radius: 10%;
}

.modificar {
    color:  white;
    background-color: blue;
    border-radius: 10%;
}

.crear {
    color:  white;
    background-color: blue;
    border-radius: 10%;
    margin-left: 80%;
}

.col--sm-9 {
    background-color: white;
}

.fin  {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    height: 70px;
}