body{

    background-color: white;
   
   }
   .container{
   
       margin-top:100px ;
   }
   
   .form-control{
       width: 100px;
       height: 40px;
   }
   
   .form-control-sm{
   
       width: 75px;
       height: 40px;
   
   }